<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aakash.example.com.doctorlocator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DocLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocRegActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DevsActivity"
            android:label="Our Team"
            android:screenOrientation="portrait" />
        <activity android:name=".DocRegDetailsActivity"></activity>
    </application>

</manifest>